.books-container {
  padding: 2.313rem 6.25rem;
}

.book-card {
  height: 10.625rem;
  margin: 1rem;
  border-radius: 4px;
  border: solid 1px var(--borderLines);
  background-color: var(--white);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.book-buttons-wrap button {
  margin-right: 1rem;
  padding-right: 1rem;
  border: none;
  background-color: var(--white);
  border-right: 1px solid var(--borderLines);
}