@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;400;700;900&display=swap');

:root {
  --white: #fff;
  --blue: #0290ff;
  --blueVar1: #4386bf;
  --warmGrey: #888888;
  --black: #121212;
  --borderLines: #e8e8e8;
}